<!DOCTYPE html>
<html lang="en">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<link href="/css/header.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>
<div class="header">
    <button class="header-button" onclick='window.location.href = "/"'>Main Page</button>
    <button class="header-button" onclick='window.location.href = "/add_user"'>Add User</button>
    <button class="header-button" onclick='window.location.href = "/update_password"'>Change Password</button>
    <button class="header-button" onclick='window.location.href = "/logout"'>logout</button>
</div>
<div class="container form-signin">
    <h3 class="form-signin-heading" th:text="'Logged in as a ' + ${auth.username}"></h3>
    <h3 class="form-signin-heading" th:text="'With role ' + ${auth.role}"></h3>

    <!--    ADMIN BUTTON -->
    <button class="btn btn-lg btn-primary btn-block" id="adminButton" type="button">Admin endpoint</button>
    <p id="outputAdmin"></p>
    <br>

    <!--    REVIEWER BUTTON -->
    <button class="btn btn-lg btn-primary btn-block" id="reviewerButton" type="button">Reviewer endpoint</button>
    <p id="outputReviewer"></p>
    <br>

    <!--    USER BUTTON -->
    <button class="btn btn-lg btn-primary btn-block" id="userButton" type="button">User endpoint</button>
    <p id="outputUser"></p>
    <br>

    <!--fix ajax call for unauthorized request-->
    <script src="/js/auth-endpoints.js"></script>
</div>
</body>
</html>