<!DOCTYPE html>
<html lang="en">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<link href="/css/header.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>
<div class="header">
    <button class="header-button" onclick='window.location.href = "/"'>Main Page</button>
    <button class="header-button" onclick='window.location.href = "/add_user"'>Add User</button>
    <button class="header-button" onclick='window.location.href = "/update_password"'>Change Password</button>
    <button class="header-button" onclick='window.location.href = "/logout"'>logout</button>
</div>
<div class="container">
    <form class="form-signin" id="reset" method="patch" action="/users">
        <h2 class="form-signin-heading">Reset Password</h2>
        <p>
            <label for="oldPassword" class="sr-only">Current Password</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Old Password"
                   required
                   autofocus>
        </p>
        <p>
            <label for="newPassword" class="sr-only">New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
    <p id="status"></p>

    <!--fix ajax call for unauthorized request-->
    <script src="/js/reset-password.js"></script>

</div>
</body>
</html>